﻿* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.navbar {
    position: relative;
    width: 100%;
    height: 96vh;
    background: #eff4fd;
    position: relative;
}

.navbar nav {
    display: flex;
    width: 84%;
    margin: auto;
    padding: 20px 0;
    align-items: center;
    justify-content: space-between;
}



.navbar ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

    nav ul li a {
        text-decoration: none;
        color: #000;
        font-weight: bold;
    }

        nav ul li a:hover {
            color: red;
        }

.detail {
    margin-left: 8%;
    margin-top: 15%;
}

    .detail h1 {
        font-size: 50px;
        color: #212121;
        margin-bottom: 20px;
    }

span {
    color: orange;
}

.detail p {
    color: #555;
    line-height: 22px;
}

.detail a {
    background: #212121;
    padding: 10px 18px;
    text-decoration: none;
    font-weight: bold;
    color: #fff;
    display: inline-block;
    margin: 30px 0;
    border-radius: 5px;
}

.images {
    width: 45%;
    height: 80%;
    position: absolute;
    bottom: 0;
    right: 100px;
}

    .images img {
        height: 100%;
        position: absolute;
        left: 50%;
        bottom: 0;
        transform: translateX(-50%);
        transition: bottom 1s, left 1s;
    }

    .images:hover .shape {
        bottom: 40px;
    }

    .images:hover .prabin {
        left: 45%;
    }

.social {
    margin-left: 8%;
    margin-top: 100px;
}

    .social a {
        font-size: 30px;
        color: #212121;
        margin-right: 20px;
    }

        .social a:hover {
            color: orange;
        }
footer {
    clear: both;
    background-color:lightblue;
    color: azure;
    font-family: sans-serif;
    text-align: center;
    padding: 10px;
}